/* ====================FONT==================== */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

/* @media (max-width: 1350px) {}
@media (max-width: 1200px) {}
@media (max-width: 1024px) {}
@media (max-width: 860px) */
/* --heading-font: 'Roboto Serif', serif;
    --body-font: 'Roboto', sans-serif;
    --header-font: 'Lato', sans-serif */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
img {
    width: 100%;
}

body{
    background-color: whitesmoke;
}

html {
  height: 2000px;
}

/* .container {
    max-width: 968px;
    margin: auto;
    width: 100%;
}  */



/* HEADER  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1111;
    padding: 15px 60px;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

/* HAMBURGER   */
.hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #530F53;
  }
  

/* LOGO  */
.logo img {
    width: 100px;
}

/* MENU  */

.nav__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__item {
    margin-left: 30px;
}

.nav__link{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    color: #530F53;
  }
  
  .nav__link:hover {
    color: #fc9c01;
  }
.nav__link:hover {
    color: #fc9c01;
  }
  

.user__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invisible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-left: 30px;
}
.icon__click {
    color: #530F53;
  }
  
  
  .icon__click:hover {
    color: #fc9c01;
  }

  /* SLIDER  */

.home{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: relative;
}

.img-slider{
  position: relative;
  width: 100vw;
  height: 100%;
  background: white;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
  margin-left: 40rem ;
  margin-top: 25rem;

}

.img-slider .slide .info h2{
  color: #530F53;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 4px;
  font-family: 'Roboto Serif', serif;
}

.img-slider .slide .info p{
  color: #530F53;
  font-size: 18px;
  left: 10px;
  width: 90%;
  padding: 10px;
}

button {
    padding: 10px;
    width: 150px;
    height: 50px;
    min-width: 200px;
    margin-left: 5rem;
    margin-top: 2rem;
    background: none;
    border: 3px solid #530F53;
    color: #530F53;
    position: relative;
    cursor: pointer;
    transition: color 0.4s linear;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
button a {
  color: #530F53;
  font-weight: bold;
}

/* button:hover {
color: #fc9c01;
}

button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fc9c01;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}


button::before {
  transform: scaleX(0);
}

button:hover::before {
  transform: scaleX(1);
} */


.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: #ac88ac;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #e49516;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}


/* BIG SHOP  */

.big-shop {
  width: 90%;
  margin: 50px auto;
}

.big-shop .shop-title {
  margin-bottom: 50px;
  text-align: center;
}

.shop-title h2 { 
  font-weight: 800;
  font-family: 'Roboto', serif-serif;
  color: #ffa20d;
  font-size: 35px;
}

/* .shop-title p {
  font-size: 15px;
} */

.big-shop .shop-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}


.shop-flex .shop-one {
  width: 26%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.shop-flex .shop-three {
  display: flex;
  flex-direction: column;
  position: relative;
}

.shop-flex .shop-one img {
  width: 100%;
}

.shop-three {
  width: 46%;
  margin-top: 30px;
}

.shop-three img {
  width: 100%;
}

.shop-flex .shop-one .image-one {
  margin-bottom: 30px;
  position: relative;
} 
.shop-flex .shop-three .image-three {
  margin-bottom: 30px;
  position: relative;
} 

.shop-one .overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color:  rgba(83, 15, 83, .3);
  color: white;
  visibility: hidden;
  transition: .5s ease-in-out;
}
.shop-three .overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  background-color:  rgba(83, 15, 83, .3);
  color: white;
  visibility: hidden;
  transition: .5s ease-in-out;
}

.shop-one .overly section {
    font-size: 15px;
}

.shop-one .overly h3 {
  margin-bottom: 3px;
  font-size: 35px;
  font-family: 'Roboto san', serif;
  
}

.shop-one .overly span {
  color: #fc9c01;
}


.shop-one .overly .link {
  position: absolute;
  bottom: 20px;
}
.shop-three .overly section {
    font-size: 15px;
}

.shop-three .overly h3 {
  margin-bottom: 3px;
  font-size: 35px;
  font-family: 'Roboto san', serif;
  
}

.shop-three .overly span {
  color: #fc9c01;
}


.shop-three .overly .link {
  position: absolute;
  bottom: 20px;
}

.overly .link a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
  overflow: hidden;
  font-size: 15px;
  font-family: 'Roboto san', serif;
  font-weight: bold;

}

.overly .link i {
  vertical-align: middle;

}

.overly .link a ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: .5s ease-in-out;
}


.overly .link a:hover::before {
  left: 0;
}

.shop-one .image-one:hover .link {
  animation: linking .8s ease-in-out forwards;
}

.shop-one .image-one:hover .overly {
  visibility: visible;
}
.shop-three .image-three:hover .link {
  animation: linking .8s ease-in-out forwards;
}

.shop-three .image-three:hover .overly {
  visibility: visible;
}

@keyframes linking {
  0%{
    opacity: 0;
    margin-bottom: 0px;
  }
  100%{
    opacity: 1;
    margin-bottom: 30px;
  }
}

.shop-one .image-one:hover .link {
  animation: linking2 .8s ease-in-out forwards;
}
.shop-three .image-three:hover .link {
  animation: linking2 .8s ease-in-out forwards;
}

@keyframes linking {
  0%{
    opacity: 1;
    margin-bottom: 30px;
  }
  100%{
    opacity: 0;
    margin-bottom: 0px;
  }
}

.shop-one .image-one:hover .txt{
  animation: header .8s ease-in-out forwards;
}
.shop-three .image-three:hover .txt{
  animation: header .8s ease-in-out forwards;
}

@keyframes header {
  0% {
    opacity: 0;
    margin-bottom: 70px;
  }
  100% {

    opacity: 1;
    margin-bottom: 0px;
  }
}

.shop-one .image-one .txt{
  animation: header2 .8s ease-in-out forwards;
}
.shop-three .image-three .txt{
  animation: header2 .8s ease-in-out forwards;
}


@keyframes header2 {
  0% {
    opacity: 1;
    margin-bottom: 0px;
  }
  100% {

    opacity: 0;
    margin-bottom: 70px;
  }
}



/* BEST SELLER  */

.best__seller {
  width: 100%;
}

.big-product {
  width: 90%;
  margin: 250px auto;
  font-family: 'Lato', sans-serif;
 
}
.big-product .product-title {
  margin-bottom: 50px;
  text-align: center;

}

.big-product .product-title p {
  margin-bottom: 2px;
  text-transform: uppercase;
  font-size: 18px;
  color: #ffa20d;
  font-weight: bold;

}

.big-product .product-title h2 {
  font-weight: 600;
  font-size: 50px;
  color: #530F53;
  font-weight: bold;
}


.big-product .product-title hr {
  width: 120px;
  margin: 14px auto;
  background-color: #510351 ;

}

.big-product .product-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 400px;
  align-items: center;
}


.product-flex .product-one {
  width: 25%;
  margin-bottom: 20px;
 
}


.product-flex .product-one img {
  width: 100%;
 
}

.product-flex .product-one .product-image{
  position: relative;
}

.product-one .product-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}


.product-image .overlay i {
  margin: 0px 5px;
  padding: 5px;
  border: 1px solid #000;
  font-size: 13px;
  cursor: pointer;
  opacity: 0;
}

.product-one:hover .product-image .overlay i {
  animation: product_icon .5s ease-in-out forwards;
}


.product-one:hover .product-image .overlay i:nth-child(2) {
  animation-delay:  .2s;
}
.product-one:hover .product-image .overlay i:nth-child(3) {
  animation-delay:  .4s;
}

.product-one:hover .overlay {
  opacity: 1;
}

@keyframes product_icon {
  0% {
    opacity: 0;
    margin-bottom: 50px;
  }

  100% {
    opacity: 1;
    margin-bottom: 0px;
  }

}




.overliy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .4s ease-in-out;
}

.overliy i {
  margin: 0px 5px;
  padding: 5px;
  border: 1px solid #000;
  font-size: 13px;
  cursor: pointer;
  opacity: 0;
}











.product-one .content {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}


.product-one .content h4 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;

}

.product-one .content section {
  font-size: 14px;
  font-weight: 600;
  color: #fc9c01;
}


.product-one article {
  text-transform : uppercase;
  font-size: 14px;
  display: none;
}

/* TESTIMONY  */

figure.snip1390 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #000000;
  text-align: center;
  font-size: 16px;
  background-color: #2C3447;
  padding: 30px;
  background-image: linear-gradient(-25deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.1) 100%);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip1390 *,
figure.snip1390 *:before,
figure.snip1390 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1390 figcaption {
  width: 100%;
}
figure.snip1390 h2,
figure.snip1390 h4,
figure.snip1390 blockquote {
  margin: 0;
}
figure.snip1390 h2,
figure.snip1390 h4 {
  font-weight: 300;
}
figure.snip1390 h2 {
  color: #ffffff;
}
figure.snip1390 h4 {
  color: #a6a6a6;
}
figure.snip1390 blockquote {
  font-size: 1em;
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}
figure.snip1390 blockquote:before {
  font-family: 'FontAwesome';
  content: " ";
  position: absolute;
  font-size: 70px;
  opacity: 0.25;
  font-style: normal;
  top: 0px;
  left: 20px;
}
figure.snip1390 .profile {
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
  border: solid 5px #A6A57A;
}










/* SHOP PAGE  */
/* 

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fas {
  color: #ff523b;
}

.rating .far {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* Offer */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

/* testimonial */

/* .testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3 img {
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 p {
  font-size: 14px;
  margin: 12px 0;
  color: #777777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col-5 img:hover {
  width: 100%;
  cursor: pointer;
  filter: grayscale(0);
} */

/* footer */

/* .footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img {
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
} */ 

/* media query for menu */

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* all products page */

.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background: #ff523b;
  color: #ffffff;
}

/* single product details */

.single-product {
  margin-top: 80px;
}

.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}

input:focus {
  outline: none;
}

.single-product .fas {
  color: #ff523b;
  margin-left: 10px;
}

.small-img-row {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* cart items */

.cart-page {
  margin: 90px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #ffffff;
  background: #ff523b;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #ff523b;
  font-size: 12px;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 400px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}
/* account page */
.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}

.form-container {
  background: #ffffff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#LoginForm {
  left: -300px;
}

#RegForm {
  left: 0;
}

form a {
  font-size: 12px;
}

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

/* media query for less than 600 screen size */

@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .single-product .row {
    text-align: left;
  }

  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}














  /*====================================MEDIA QUERY =====================================*/
  @media screen and (max-width: 991px) {


      header {
        padding: 5px 20px;
      }



    .nav__menu {
        position: fixed;
        left: -100%;
        top: 7rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
    }
   
  
    .nav__menu.active {
        left: 0;
    }
  
    .nav__item {
        margin: 2.5rem 0;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
  }
  
    .invisible {
      display: none;
    }
    
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color: #fc9c01;
  }
  
  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color: #fc9c01;
  }

  /* SLIDER  */
  .home {
    width: 100vw;
    height: 50vh
  }
  .img-slider{
    width: 100%;
    height: 100%;
  }
  .img-slider .slide img {
    width: 100%;
    height: 50vh;
  }

  .img-slider .slide .info{
    /* padding: 5px 2px; */
    margin-left: 1rem ;
    margin-top: 11rem;
  
  }
  
  .img-slider .slide .info h2{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: 'Roboto Serif', serif;
  }
  
  .img-slider .slide .info p{
    font-size: 16px;
    width: 80%;
  }

  button {
    min-width: 100px;
    font-size: 15px;
}

.cath {
  display: block;
  justify-content: center;
  align-items: center;
}


.product-flex .product-one {
  width: 32%;
 
}





/* SHOP PAGE  */


nav ul {
  position: absolute;
  top: 70px;
  left: 0;
  background: #333;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.5s;
}
nav ul li {
  display: block;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nav ul li a {
  color: #fff;
}
.menu-icon {
  display: block;
  cursor: pointer;
}
    
  }





  @media screen and (max-width: 768px) {
    .product-flex .product-one {
      width: 49%;
     
    }


    /* SHOP PAGE  */

    .row {
      text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
      flex-basis: 100%;
    }
  
    .single-product .row {
      text-align: left;
    }
  
    .single-product .col-2 {
      padding: 20px 0;
    }
    .single-product h1 {
      font-size: 26px;
      line-height: 32px;
    }
    .cart-info p {
      display: none;
    }

  }




   @media screen and (max-width: 576px) {
   .container {
      margin-left: auto;
      margin-right: auto;
    }

    .product-flex .product-one {
      width: 100%;
     
    }

  }
   